#contact iframe
{
    width: 100%;
}
.travel_mainDiv{
    border:1px solid lightsteelblue;
}
.travel_mainDiv img{
    width:100%;
}
.travel_mainDiv h5, .travel_mainDiv p{
    margin:20 px ;
}
.movie_head {
    font-size: 20 px;
    padding: 6px 22px ;
    border-radius:10 px;
    margin-bottom: 15 px;
}

.movie_head i {
    float: right;
}

.movie_text span {
    color: orange;
}